Source: apache-aurora
Priority: optional
Maintainer: Benjamin Staffin <ben@folsomlabs.com>
Build-Depends: debhelper (>= 9),
 default-jdk,
 python-all-dev,
 gradle (>= 2.2) | gradle-2.2.1,
 curl,
 git,
 wget,
 thrift-compiler (>= 0.9.1)
# thrift-compiler version needs to match the ext.thriftRev value from build.gradle
Section: net
Standards-Version: 3.9.5
Homepage: http://aurora.apache.org

Package: aurora-scheduler
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends},
 openjdk-7-jre-headless | default-jre-headless,
 mesos (>= 0.20.1)
Recommends: aurora-tools
Suggests: aurora-doc
Description: Apache Aurora scheduler
 Aurora is service scheduler that runs on top of Apache Mesos, enabling you to
 run long-running services that take advantage of Apache Mesos' scalability,
 fault-tolerance, and resource isolation.
 .
 This package contains the Aurora Scheduler daemon.

Package: aurora-tools
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends},
 python2.7
Suggests: aurora-doc
Description: Apache Aurora commandline tools
 Aurora is service scheduler that runs on top of Apache Mesos, enabling you to
 run long-running services that take advantage of Apache Mesos' scalability,
 fault-tolerance, and resource isolation.
 .
 This package includes commandline utilities for interacting with an Aurora
 scheduler: aurora-client, aurora2, and aurora-admin.

Package: aurora-mesos-slave
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends},
 python2.7
Recommends: aurora-tools
Suggests: aurora-doc
Description: Apache Aurora slave deployment
 Aurora is service scheduler that runs on top of Apache Mesos, enabling you to
 run long-running services that take advantage of Apache Mesos' scalability,
 fault-tolerance, and resource isolation.
 .
 This package contains the components necessary on to use a Mesos slave as an
 Aurora node: the garbage collection executor, Thermos runner, Thermos
 executor, and Thermos observer

Package: aurora-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Documentation for Apache Aurora
 Aurora is service scheduler that runs on top of Apache Mesos, enabling you to
 run long-running services that take advantage of Apache Mesos' scalability,
 fault-tolerance, and resource isolation.
 .
 This package contains documentation.
