#!/usr/bin/make -f
DH_VERBOSE = 1

%:
	dh $@ --exclude=aurora-scheduler.bat

gradle = /opt/gradle-2.2.1/bin/gradle
pants = $(CURDIR)/pants
MESOS_VERSION = 0.20.1

override_dh_auto_build:
	$(gradle) distTar
	mkdir -p third_party && cd third_party && wget -nv -c "https://svn.apache.org/repos/asf/incubator/aurora/3rdparty/ubuntu/trusty64/python/mesos.native-$(MESOS_VERSION)-py2.7-linux-x86_64.egg"
	$(pants) src/main/python/apache/aurora/client/bin:aurora_client
	$(pants) src/main/python/apache/aurora/client/cli:aurora2
	$(pants) src/main/python/apache/aurora/client/bin:aurora_admin
	$(pants) src/main/python/apache/aurora/executor/bin:gc_executor
	$(pants) src/main/python/apache/aurora/executor/bin:thermos_executor
	$(pants) src/main/python/apache/aurora/executor/bin:thermos_runner
	$(pants) src/main/python/apache/thermos/observer/bin:thermos_observer

override_dh_auto_install:
	$(gradle) installApp
	dh_auto_install --exclude=aurora-scheduler.bat
